Repository Team-Spoofemon/finding-joy, pull requests merged in 2025-03, with the labels that each got.

#48 FAITH
  game/assets/characters/BISCUITS/biscuits-1.png
  game/assets/characters/BISCUITS/biscuits-2.png
  game/assets/characters/BISCUITS/biscuits-3.png
  game/assets/characters/BISCUITS/biscuits-b-botfly-removed-1.png
  game/assets/characters/BISCUITS/biscuits-b-botfly-removed.png
  game/assets/characters/BISCUITS/biscuits-b-botfly.png
  game/assets/characters/FAITH/faith-relieved.png
  game/assets/characters/FAITH/faith-worried.png
Labels: art-character

#46 itch.io Deployment Instructions
  docs/itch.io Deployment.docx
Labels: docs

#53 Act1_Day3_Scene3.rpy
  Act1_Day3_Scene3.rpy
Labels: story

#58 emergency forgot to save a file
  game/assets/story/act1/day3/act1_day3_scene5.rpy
Labels: bug
